body {
  font-family: 'Courier New', monospace;
}

div.section{
  display: inherit;
  flex-direction: inherit;
  padding: 5px;
  gap:5px;
  margin:5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.row{
  display: flex;
  flex-direction: row;
}
div.column{
  display: flex;
  flex-direction: column;
}

header{
  background: #cb7bc4;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:20px;
}


header > nav{
  display: flex;
  flex-direction: row;
}

nav{
  width:100%;
}


.navlink{
  background: #7bcb82;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:auto 10px auto 10px;
  text-decoration: none;
  color:#222;
  position: relative;
}

nav>a:hover, .dropdown>div>a:hover{
  box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
}

input, textarea{
  border: none;
  border-radius: 5px;
  margin:5px;
  padding:5px;
  width: max-content;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input:invalid{
  color:red;
}

/* dropdown nav menu */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown, .dropdownButton {
  background: #7bcb82;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:auto 10px auto 10px;
}

.dropdown:hover >div{
  display: flex;
  flex-direction: column;
}

.dropdown>div{
  display: none;
  position: absolute;
  z-index: 1;
}

label{
  margin: auto 5px;
  font-size: 80%;
}
legend{
  font-size: 120%;
  font-weight: 800;
}